@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif !important;
}
.app-bar {
  background-color: transparent !important;
  color: blue !important ;
  box-shadow: none !important;
}
.logo {
  background-image: url(../src/assets/logo1.jpg);
  width: 100px;
  height: 80px;
  background-size: cover;
}
